<ion-header class="primary-header browse-page">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title >Berita</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="presentModal()">
      Filter <ion-icon name="filter-outline"></ion-icon>
   </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="tarik untuk segarkan"
        refreshingSpinner="circles"
        refreshingText="Segarkan..."></ion-refresher-content>
      </ion-refresher>
    <div class="favorites-zone reviews-zone">
      <ion-list class="favorites">
          <ion-item-sliding *ngFor="let item of itemsBerita">
              <ion-item lines="none" [routerLink]="'/detail-berita/'+ item?.id" routerDirection="forward">
                <div class="restaurant-image">
                  <img src="{{path?.berita}}{{item.thumbnail}}">
                </div>                  
                <ion-label>
                  <h2 class="ion-text-wrap">{{item.title}}</h2>
                  <div class="ion-text-wrap">
                  <!-- <h3>{{ itemBerita['meta_description'] }}</h3> -->
                  </div>
                  <!-- <div class="restaurant-reviews">
                    <i class="fas fa-eye"></i> <span class="review-counts">({{ itemBerita?.dilihat }})</span>
                  </div>                     -->
                </ion-label>
              </ion-item>
            </ion-item-sliding>
        </ion-list>  
    </div>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Lihat lebih banyak...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>
