<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color="medium">
      <ion-tab-button tab="home">
        <i class="fas fa-home"></i>
        <ion-label>Beranda</ion-label>
      </ion-tab-button>
  
      <!-- <ion-tab-button tab="kategori">
        <i class="fas fas fa-th-large"></i>
        <ion-label>Kategori</ion-label>
      </ion-tab-button> -->
  
      <ion-tab-button tab="berita">
        <i class="fas fa-newspaper"></i>
        <ion-label>Berita</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favorit">
        <i class="fas fa-star"></i>
        <ion-label>Favorit</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="pengaturan">
        <i class="fas fa-info-circle"></i>
        <ion-label>Informasi</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tutup">
        <i class="fas fa-sign-out"></i>
        <ion-label>Tutup</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
