ion-header {
    border: 0px none !important;
    ion-toolbar {
        ion-buttons {
            ion-back-button {
                font-size: 16px;
                font-family: 'Poppins-Bold';                
            }
        }
        ion-title {

        }
    }
}

.forgot-button {
    margin-top: 50px;
}