<ion-header class="primary-header browse-page">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
<ion-input placeholder="Pencarian"  autofocus="true" (ionChange)="getPencarian($event)" style="text-align: left; color: black;"></ion-input>
    <ion-icon name="search" color="dark" slot="end" style="padding-left: 0px; padding-right: 5px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="tarik untuk segarkan"
        refreshingSpinner="circles"
        refreshingText="Segarkan..."></ion-refresher-content>
      </ion-refresher>

      <div class="favorites-zone reviews-zone">
        <ion-list class="favorites">
            <ion-item-sliding *ngFor="let item of detail">
                <ion-item lines="none" [routerLink]="'/detailsingleekraf/'+ item?.id" routerDirection="forward">
                  <div class="restaurant-image">
                      <img style="height: 50px; width: 50px;" src="{{ path?.ekraf }}{{kategori.gambar}}" alt="">
                  </div>                  
                  <ion-label>
                    <h2 class="ion-text-wrap">{{ item.nama }} - {{ item.alamat }}, {{ item.nama_kabupaten }}</h2>
                    <ion-badge color="tertiary">{{ kategori.nama }}</ion-badge>
                  </ion-label>
                </ion-item>
              </ion-item-sliding>
          </ion-list>  
      </div>
      
      <!-- <div *ngFor="let item of detail">
        <ion-card>          
          <ion-row class="">
            <ion-chip>
              <ion-icon *ngIf="item?.nama != null" name="remove-circle" color="primary"></ion-icon>
              <ion-label>Nama Usaha : {{ item?.nama }}</ion-label>
            </ion-chip>
          </ion-row>
          <ion-row>
            <ion-chip>
              <ion-icon *ngIf="item?.jenis_usaha != null" name="remove-circle" color="primary"></ion-icon>
              <ion-label>Jenis Usaha : {{ item?.jenis_usaha }}</ion-label>
            </ion-chip>
          </ion-row>
          <ion-row>
            <ion-chip>
              <ion-icon *ngIf="item?.alamat != null" name="remove-circle" color="primary"></ion-icon>
              <ion-label>Alamat : {{ item?.alamat }}</ion-label>
            </ion-chip>
          </ion-row>

          <ion-row class="order-info">
            <ion-chip>
              <ion-icon *ngIf="item?.nama_kabupaten != null" name="remove-circle" color="primary"></ion-icon>
              <ion-label>Kabupaten / Kota : {{ item?.nama_kabupaten }}</ion-label>
            </ion-chip>
          </ion-row>
          
          <ion-row>
            <ion-chip>
              <ion-icon *ngIf="item?.nomor_kontak != null" name="call" color="primary"></ion-icon>
              <ion-label>Kontak : {{ item?.nomor_kontak }}</ion-label>
            </ion-chip>
          </ion-row>

          <ion-row>
            <ion-chip>
              <ion-icon *ngIf="kategori?.nama  != null" name="remove-circle" color="primary"></ion-icon>
              <ion-label>Kategori Ekraf : {{ kategori?.nama  }}</ion-label>
            </ion-chip>
          </ion-row> 
      
        </ion-card> 
        
      </div>  -->

      

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Lihat lebih banyak...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>
