<ion-header class="primary-header light-header">
  <ion-toolbar color="light">
    <ion-title slot="start" color="success">Filter Pencarian</ion-title>
    <ion-buttons class="header-icons" slot="end" color="success">
      <ion-button (click)="closeModal()"><i class="far fa-times"></i></ion-button>
    </ion-buttons>      
  </ion-toolbar>
</ion-header>

<ion-content padding>

  
<!-- <ion-item class="float-inputs">
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
</ion-item> -->

<div class="filter-page-form" padding>

<ion-item class="float-inputs custom-range-item">
  <ion-input class="search-icon" [(ngModel)]="keyword" placeholder="Masukan Kata Kunci"  style="text-align: left;"></ion-input>
  <ion-icon name="search" color="light"  style="padding-left: 5px; padding-right: 5px;"></ion-icon>
</ion-item>


<ion-item>
  <ion-label position="floating">Kabupaten</ion-label>
  <ion-select value="Select" [(ngModel)]="selectKabupaten" interface="popover" [interfaceOptions]="customPopoverOptions">
    <ion-select-option value="Select">Select</ion-select-option>
    <ion-select-option *ngFor='let item of kabupaten' [value]="item?.id">{{ item?.nama }}</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="floating" >Lokasi</ion-label>
  <ion-select value="0" okText="Okay"  [(ngModel)]="lokasi" cancelText="Dismiss" interface="alert">
    <ion-select-option value="1">Terdekat</ion-select-option>
    <ion-select-option value="2">Terjauh</ion-select-option>
  </ion-select>
</ion-item>

<div class="action-buttons-zone">
  <ion-button class="action-buttons" (click)="closeModal()" color="success">APPLY NOW</ion-button>
</div>
</div>







</ion-content>
