<ion-header class="primary-header favorites-page">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title slot="start">Favorites</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="favorites-zone">
        <ion-list class="favorites">
            <ion-item-sliding>
                <ion-item lines="none" routerLink="/restaurantpage1">
                  <div class="restaurant-image">
                    <img src="https://www.oniva.com.tr/foodmania/images/restaurants/r10.jpg">
                  </div>                  
                  <ion-label>
                    <h2>Dominos Pizza</h2>
                    <div class="restaurant-reviews">
                      4.6 <i class="fas fa-star"></i> <span class="review-counts">(312)</span>
                    </div>                    
                  </ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option><i class="far fa-trash-alt"></i></ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding>
                  <ion-item lines="none" routerLink="/restaurantpage1">
                    <div class="restaurant-image">
                      <img src="https://www.oniva.com.tr/foodmania/images/restaurants/r1.jpg">
                    </div>                  
                    <ion-label>
                      <h2>Popeyes Pizza</h2>
                      <div class="restaurant-reviews">
                        4.6 <i class="fas fa-star"></i> <span class="review-counts">(312)</span>
                      </div>                    
                    </ion-label>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option><i class="far fa-trash-alt"></i></ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                <ion-item-sliding>
                    <ion-item lines="none" routerLink="/restaurantpage1">
                      <div class="restaurant-image">
                        <img src="https://www.oniva.com.tr/foodmania/images/restaurants/r5.jpg">
                      </div>                  
                      <ion-label>
                        <h2>Dominos Pizza</h2>
                        <div class="restaurant-reviews">
                          4.6 <i class="fas fa-star"></i> <span class="review-counts">(312)</span>
                        </div>                    
                      </ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                      <ion-item-option><i class="far fa-trash-alt"></i></ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
     
                                                     
                                                                                                                          
            
          </ion-list>  
                     
      </div>
</ion-content>
