.hello_lbl{
   
        margin-top: 5px;
        //   background: -webkit-linear-gradient(50deg,#a40000,#f0ee86);
        // background: -webkit-linear-gradient(50deg,#d1d1d1,#d1d1d1);
        background: -webkit-linear-gradient(50deg,#8dc63e,#d4dd24);


        // background: linear-gradient(to right, #ff2f00, #fffb00);
          font-family: 'Poppins-Bold';
          
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 10px;
          padding-left: 5px;
          color: white;
      }